{% extends 'basemain.html' %}
{% load blog_tags %}
{% block basemain %}
<div class="row">
	<div class="col-md-7 col-sm-8 col-xs-12">
		{% block main %}
		{% endblock main %}
	</div>
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">最新文章</div>
	  		<ul class="list-group">
	  			{% get_recent_posts as recent_post_list %}
				{% for post in recent_post_list %}
	  			<li class="list-group-item">
	  				<a href="{{ post.get_absolute_url }}">
	  				<span class="fa fa-chevron-circle-right fa-lg">&nbsp;{{ post.title }}&nbsp;</span>
	    			</a>
	    		</li>
	    		{% endfor %}
	 		</ul>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">时间归档</div>
		 	<ul class="list-group">
		 	{% archives as date_list %}
			{% for date in date_list %}
	  			<li class="list-group-item">
	    			<a href="{% url 'blog:archives' date.year date.month %}">
						<span class="fa fa-clock-o fa-lg">&nbsp;{{ date.year }}年{{ date.month }}月&nbsp;</span>
					</a>
	    		</li>
	    	{% endfor %}
	  		</ul>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">文章分类</div>
			<ul class="list-group">
			{% get_categories as categors %}
			{% for ca in categors %}
	    		<li class="list-group-item">
	    			<a href="{% url 'blog:category' ca.pk %}">
						<span class="fa fa-tag fa-lg">&nbsp;{{ ca.name }}&nbsp;({{ca.num_post}})</span>
					</a>
	    		</li>
	    	{% endfor %}
	  		</ul>
		</div>
	</div>
	<div class="col-md-2 col-sm-0 col-xs-0">
	</div>
</div>
{% endblock basemain %}