{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
	<head>
		<title>Hank’s_Blog</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <link rel="shortcut icon" href="../Img/faviconCQ.ico">
	    <link rel="icon" href="../Img/faviconCQ.ico">
	    <!-- css -->
	    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	    <!-- js -->
	    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
	    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
	    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<header id="site-header">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-2 col-sm-0 col-xs-0">
								</div>
								<div class="col-md-2 col-sm-4 col-xs-0 hidden-xs">
			  						<p class="navbar-text" style="text-align: center">
			  							<a href="#" class="navbar-link" style="color:blue">Hank</a> 
			  							's Blog&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="#" title="站内搜索,未完成" data-toggle="modal" data-target="#myModal">
											<i class="fa fa-search fa-lg"></i>
										</a>
									</p>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
			  						<ul class="nav nav-pills">
			  							<li role="presentation"><a href="{% url 'mainpage:pagetxt' %}" title="主页"><i class="fa fa-home fa-lg"></i>主页</a></li>
			  							<li role="presentation"><a href="{% url 'blog:list' %}" title="博客"><span><class="fa fa-book fa-lg"></i>博客</span></a></li>
			  							<li role="presentation"><a href="{% url 'mainpage:pageabout' %}" title="关于作者"><i class="fa fa-user-circle-o fa-lg"></i>关于</a></li>
									</ul>
								</div>
							</div>
						</div>
				</div>
			</nav>
		</header>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  		<div class="modal-dialog" role="document">
	    		<div class="modal-content">
	      			<div class="modal-header">
	       				 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	       				 	<span aria-hidden="true">&times;</span>
	       				 </button>
	        			<h4 class="modal-title" id="myModalLabel">站内检索</h4>
	      			</div>
	      			<div class="modal-body">
	        			<form role="search" method="get" action="{% url 'blog:search' %}">
	        				<div class="input-group">
	          				<input type="text" class="form-control" name="q" placeholder="请输入关键字">
	          				<span class="input-group-btn">
	        					<button class="btn btn-default" type="submit">Go!</button>
	      					</span>
	      					</div>
	       				</form>
	      			</div>
	      			<div class="modal-footer">
	      				<p><i class="fa fa-warning fa-lg">该搜索功能有待完善</i><p>
	      			</div>
	    		</div>
	  		</div>
		</div>
		<div class="content-body">
			<div class="container-fluid">
			{% block basemain %}
			{% endblock basemain %}
			</div>
		</div>
		<footer id="site-footer">
			<hr />
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-2 col-xs-0"></div>
					<div class="col-md-4 col-sm-8 col-xs-12">
						<p style="text-align: center"> 人生苦短，我用Python---- <a href="/admin" title="后台" target="_blank"><span class=" fa fa-user-circle fa-lg"></span>后台管理</a></p>
					</div>
					<div class="col-md-4 col-sm-2 col-xs-0"></div>
				</div>
			</div>
		</footer>
	</body>
</html>
